@font-face {
  font-family: 'Google-Bold';
   src: url('./resources/Google-Sans-Font/GoogleSans-Bold.ttf')
     format('truetype');
  }
@font-face {
  font-family: 'Gotham-Bold';
   src: url('./resources/Google-Sans-Font/GothamBoldRegular.ttf')
     format('truetype');
}

@font-face {
  font-family: 'Google-Medium';
   src: url('./resources/Google-Sans-Font/GoogleSans-Medium.ttf')
     format('truetype');
}



.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Google-Medium';
background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);}
